#menuElement {
  line-height: normal;
  color: #416aa8;
  transition: .2s;
}
  @media(max-width: 767px) {
    #menuElement{
      background-color: #f60000;
    }
  }

#menuElement:hover {
  cursor: pointer;
  color: #0a216c;
  transform: scale(1.05);
  transform-origin: left;
}

#menuTitle {
  color: #416aa8;
  margin: 15px;
  bottom: 15px;
  text-align: center;
}

#bottomElements {
  position: absolute;
  bottom: 0;
}

#left-panel-col{
  border-right: solid;
  border-right-width: 3px;
  border-right-color: #0a216c;
  padding-right: 10%;
  align-items: center;
  display: flex;
}
