#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#note {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
}

#content {
    font-style: italic;
}

#add {
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 25px;
    transition: transform .2s;
    color: white;
}

#add:hover {
    cursor: pointer;
    color: #0a216c;
    transform: scale(1.1);
}

#delete {
    position: fixed;
    right: 25px;
    transition: transform .2s;
}

#delete:hover {
    cursor: pointer;
    color: #f60000;
    transform: scale(1.1);
}

#edit {
    position: fixed;
    right: 50px;
    transition: transform .2s;
}

#edit:hover {
    cursor: pointer;
    color: #3eb243;
    transform: scale(1.1);
}

#disabled {
    opacity: 0;
    background: #CCC;
}